* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Tahoma;
}

.chat {
  padding: 0 10px;
}

.wrapper {
  display: flex;
  max-width: 720px;
  margin: 50px auto;
  border-radius: 20px;
  overflow: hidden;
  height: calc(100vh - 100px);
}

.users {
  background-color: #b8b8b8;
  flex-basis: 150px;
}

.room {
  padding: 20px;
  border-bottom: 2px solid #333;
}

.user-list {
  margin: 0px;
  padding: 10px;
}

.user-list > li {
  list-style-type: none;
  margin-bottom: 10px;
}

.user-list > li:last-child {
  margin-bottom: 0px;
}

.messages-box {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.messages {
  flex-grow: 1;
  padding: 10px;
  height: calc(100% - 100px);
  overflow: auto;
}

.message {
  background-color: #b8b8b8;
  display: inline-block;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
}

.text-input {
  flex-basis: 100px;
  padding: 10px;
  background-color: #919191;
}

.txt {
  width: 100%;
  height: auto;
  resize: none;
  overflow: hidden;
}
